
.container0{
    max-width: 1280px;
    max-height: 120px;
    width:100%;
  	margin: 0 auto;
}
#indexSlides_0{
  margin: 0 auto;
  opacity: 1;
  width: 100%;
  height: 115px;
  background-size: 100% 115px;
  background-repeat:no-repeat;
}
.container{
    max-width: 1280px;
    max-height: 600px;
    width:100%;
  	margin: 0 auto;
}
#indexSlides_1{
  margin: 0 auto;
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}

.picture_0{
  position: absolute;
  background-image: url("../image/wind/earth_cover.jpg");
  width: 1221px;
  height: 550px;
  background-size: 1221px 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.language_en{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1080px;
  margin-top: 5px;
}
.language_line{
  color:white;
  font-style: italic;
  font-size: 12pt;
  position:absolute;
  margin-left: 1103px;
  margin-top: 4px;
}
.language_ch{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1110px;
  margin-top: 6px;
}
.world_about{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 762px;
  margin-top: 27px;
}
.world_guide{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 845px;
  margin-top: 27px;
}
.world_axchange{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 929px;
  margin-top: 27px;
}
.world_contact{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}
.world_main_ch{
  color:white;
  font-weight: bold;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 240px;
  margin-top: 330px;
}
.world_main_en{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 120px;
  margin-top: 400px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/home_bg1.jpg");
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.icon_new{
  position:absolute;
  margin-left: 185px;
  margin-top: 140px;
  background-image: url("../image/home_dot.png");
  width: 45px;
  height: 37px;
  background-size: 45px 37px;
}
.new_1{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top: 150px;
  font-size: 11pt;
  color: white;
}
.new_2{
  position:absolute;
  font-weight:bold;
  margin-left: 227px;
  margin-top: 149px;
  font-size: 12pt;
  color: black;
}
.date_1{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top: 220px;
  font-size: 11pt;
  color: black;
}
.date_2{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top: 260px;
  font-size: 11pt;
  color: black;
}
.date_3{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top: 300px;
  font-size: 11pt;
  color: black;
}
.date_4{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top: 340px;
  font-size: 11pt;
  color: black;
}
.date_5{
  position:absolute;
  font-weight:bold;
  margin-left: 190px;
  margin-top:380px;
  font-size: 11pt;
  color: black;
}
.hr_1 {
  position:absolute;
  margin-left: 190px;
  margin-top: 240px;
  width: 350px;
  height: 1px;
  z-index: 2;
  background-color: black;
  opacity: 1.0;
}
.hr_2 {
  position:absolute;
  margin-left: 190px;
  margin-top: 280px;
  width: 350px;
  height: 1px;
  z-index: 2;
  background-color: black;
  opacity: 1.0;
}
.hr_3 {
  position:absolute;
  margin-left: 190px;
  margin-top: 320px;
  width: 350px;
  height: 1px;
  z-index: 2;
  background-color: black;
  opacity: 1.0;
}
.hr_4 {
  position:absolute;
  margin-left: 190px;
  margin-top: 360px;
  width: 350px;
  height: 1px;
  z-index: 2;
  background-color: black;
  opacity: 1.0;
}
.hr_5 {
  position:absolute;
  margin-left: 190px;
  margin-top: 400px;
  width: 350px;
  height: 1px;
  z-index: 2;
  background-color: black;
  opacity: 1.0;
}
.container_panel{
  position:absolute;
  margin-left: 600px;
  margin-top: 110px;
  width: 400px;
  height: 370px;
}
.panel_body{
  font-style: italic;
  margin-left: -30px;
  color: black;
  font-size: 10pt;
}
.panel-heading_1{
  border-radius: 4px;
  background-color:#b2adad;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.panel-heading_2{
  border-radius: 4px;
  background-color:#a5e2a5 ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_3{
  border-radius: 4px;
  background-color:rgba(255, 156, 0, 0.65);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_4{
  border-radius: 4px;
  background-color:rgba(255, 0, 0, 0.64);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_1, .panel-heading_2, .panel-heading_3, .panel-heading_4, .panel-heading_5{
  border-bottom:10;
}
.panel-heading_1 span, .panel-heading_2 span, .panel-heading_3 span, .panel-heading_4 span, .panel-heading_5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.panel-heading_1 span:after, .panel-heading_2 span:after, .panel-heading_3 span:after, .panel-heading_4 span:after, .panel-heading_5 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1.5s;
}
.panel-heading_1:hover span, .panel-heading_2:hover span, .panel-heading_3:hover span, .panel-heading_4:hover span, .panel-heading_5:hover span {
  padding-right: 105px;
}
#wrapper_1, #wrapper_2, #wrapper_3, #wrapper_4 {
  overflow: hidden;
  transition: height 1500ms;
}
.clear_line{
  font-weight: bold;
  font-style: italic;
}
#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/home_bg2.jpg");
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.label_1{
  z-index:4;
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 50pt;
  margin-left: 136px;
  margin-top: 45px;
  font-family:DFKai-sb;
}
.label_2{
  z-index:4;
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 50pt;
  margin-left: 185px;
  margin-top: 105px;
  font-family:DFKai-sb;
}
.label_3{
  z-index:4;
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 45pt;
  margin-left: 280px;
  margin-top: 160px;
  font-family:DFKai-sb;
}
.label_2_hover{
  z-index:2;
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 50pt;
  margin-left: 183px;
  margin-top: 103px;
  font-family:DFKai-sb;
}
.label_3_hover{
  z-index:2;
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 45pt;
  margin-left: 278px;
  margin-top: 158px;
  font-family:DFKai-sb;
}
.picture_1{
  position: absolute;
  background-image: url("../image/home_pic1.jpg");
  margin-left: 136px;
  margin-top: 141px;
  width: 600px;
  height: 350px;
  background-size: 600px 350px;
  background-repeat:no-repeat;
}
.picture_2{
  position: absolute;
  background-image: url("../image/home_pic2.jpg");
  z-index:1;
  margin-left: 641px;
  margin-top: 40px;
  width: 490px;
  height: 272px;
  background-size: 490px 272px;
  background-repeat:no-repeat;
}

.sublabel_1{
  color:white;
  position:absolute;
  font-size: 10pt;
  margin-left: 740px;
  margin-top: 262px;
  font-family:DFKai-sb;
}
.sublabel_2{
  color:white;
  position:absolute;
  font-size: 10pt;
  margin-left: 740px;
  margin-top: 282px;
  font-family:DFKai-sb;
}
.sublabel_3{
  color:white;
  position:absolute;
  font-size: 10pt;
  margin-left: 740px;
  margin-top: 302px;
  font-family:DFKai-sb;
}
.sublabel_4{
  color:white;
  position:absolute;
  font-size: 10pt;
  margin-left: 740px;
  margin-top: 322px;
  font-family:DFKai-sb;
}
#indexSlides_4{
  margin: 0 auto;
  background-image: url("../image/home_bg3.png");
  width: 100%;
  height: 208px;
  background-size: 100% 208px;
  background-repeat:no-repeat;
}
.icon_label_1{
  color:rgb(180, 48, 46);
  font-weight: bold;
  position:absolute;
  font-size: 16pt;
  margin-left: 235px;
  margin-top: 149px;
  font-family:DFKai-sb;
}
.icon_label_2{
  color:rgb(180, 48, 46);
  font-weight: bold;
  position:absolute;
  font-size: 16pt;
  margin-left: 465px;
  margin-top: 149px;
  font-family:DFKai-sb;
}
.icon_label_3{
  color:rgb(180, 48, 46);
  font-weight: bold;
  position:absolute;
  font-size: 16pt;
  margin-left: 703px;
  margin-top: 149px;
  font-family:DFKai-sb;
}
.icon_label_4{
  color:rgb(180, 48, 46);
  font-weight: bold;
  position:absolute;
  font-size: 16pt;
  margin-left: 945px;
  margin-top: 149px;
  font-family:DFKai-sb;
}
.icon_bg1{
  position: absolute;
  background-image: url("../image/home_icon1.png");
  margin-left: 233px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.icon_bg2{
  position: absolute;
  background-image: url("../image/home_icon2.png");
  margin-left: 459px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.icon_bg3{
  position: absolute;
  background-image: url("../image/home_icon3.png");
  margin-left: 689px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.icon_bg4{
  position: absolute;
  background-image: url("../image/home_icon4.png");
  margin-left: 914px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{

  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}

.footer_label{
  color:white;
  position:absolute;
  font-size: 10pt;
  margin-left: 590px;
  margin-top: 45.5px;
  font-family:DFKai-sb;
}
