html{
   background-image: url("../background.png");
}
.container{
    max-width: 1280px;
    max-height: 3400px;
    margin: 0 auto;
}

.logo{
  position: absolute;
    margin-top: 10px;
  margin-left: 420px;
  background-image: url("../image/homepage/logo.png");
  width: 120px;
  height: 80px;
  background-size: 120px 80px;
  background-repeat:no-repeat;
}
.title{
  position: absolute;
    margin-top: 30px;
  margin-left: 560px;
  color:white;
  font-size: 28px;
}
.prompt{
  position: absolute;
  margin-left: 1055px;
    margin-top: 10px;
  background-image: url("../image/homepage/fire_main.png");
  width: 120px;
  height: 80px;
  background-size: 120px 80px;
  background-repeat:no-repeat;
}
.rpg{
  position: absolute;
  margin-top: 10px;
  margin-left: 1155px;
  background-image: url("../image/homepage/character_left.png");
  width: 120px;
  height: 80px;
  background-size: 120px 80px;
  background-repeat:no-repeat;
}
.earth_human{
  position: absolute;
  margin-top: 130px;
  background-image: url("../image/homepage/earth_character.png");
  width: 253px;
  height: 450px;
  background-size: 253px 450px;
  background-repeat:no-repeat;
}
.fire_human{
  position: absolute;
  margin-top: 100px;
  margin-left: 320px;
  background-image: url("../image/homepage/fire_character.png");
  width: 280px;
  height: 450px;
  background-size: 280px 450px;
  background-repeat:no-repeat;
}
.water_human{
  position: absolute;
  margin-top: 100px;
  margin-left: 640px;
  background-image: url("../image/homepage/water_character.png");
  width: 253px;
  height: 450px;
  background-size: 253px 450px;
  background-repeat:no-repeat;
}
.wind_human{
  position: absolute;
  margin-top: 100px;
  margin-left: 960px;
  background-image: url("../image/homepage/wind_character.png");
  width: 253px;
  height: 430px;
  background-size: 253px 430px;
  background-repeat:no-repeat;

}
.earth_human_logo{
  position: absolute;
  margin-top: 130px;
  background-image: url("../image/homepage/earth_logo.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.fire_human_logo{
  position: absolute;
  margin-top: 100px;
  margin-left: 320px;
  background-image: url("../image/homepage/fire_logo.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.water_human_logo{
  position: absolute;
  margin-top: 100px;
  margin-left: 640px;
  background-image: url("../image/homepage/water_logo.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;
}
.wind_human_logo{
  position: absolute;
  margin-top: 100px;
  margin-left: 960px;
  background-image: url("../image/homepage/wind_logo.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat:no-repeat;

}
.earth_human, .wind_human, .water_human, .fire_human{
  opacity:0.6;
}


.wind_human:hover, .fire_human:hover, .water_human:hover, .earth_human:hover{
  width: 263px;
  height: 460px;
  background-size: 263px 460px;
  opacity:1;
}
.earth_human{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}
.fire_human{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
}
.water_human{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
.wind_human{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {opacity: 0.7;}
    to {opacity: 1;}
}
/* Standard syntax */
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.news_hmg{
  position:absolute;
  margin-left: 580px;
  margin-top: 700px;
  font-size: 28px;
  color:black;
  text-align:center;
}
.news_note0{
  position:absolute;
  margin-left: 150px;
  margin-top: 740px;
  font-size: 24px;
  color:black;
  text-align:center;
}
.news_note1{
  position:absolute;
  margin-left: 170px;
  margin-top: 760px;
  font-size: 24px;
  color:black;
  text-align:center;
}
.news_note2{
  position:absolute;
  margin-left: 250px;
  margin-top: 780px;
  font-size: 24px;
  color:black;
  text-align:center;
}
.news_note3{
  position:absolute;
  margin-left: 100px;
  margin-top: 800px;
  font-size: 24px;
  color:black;
  text-align:center;
}
.news_note4{
  position:absolute;
  margin-left: 100px;
  margin-top: 820px;
  font-size: 24px;
  color:black;
  text-align:center;
}
.background_news{
  position:absolute;
  background-color: white;
  opacity: 0.5;
  margin-top: 680px;
  width: 100%;
  height: 280px;
  background-size: 100% 280px;
}
.background_news_earth{
  position:absolute;
  background-image: url("../image/homepage/earth_cover.jpg");
  margin-top: 920px;
  width: 100%;
  height: 800px;
  background-size: 100% 800px;
    background-repeat:no-repeat;
}

.background_news_fire{
  position:absolute;
  background-image: url("../image/homepage/fire_cover.jpg");
  margin-top: 1689px;
  width: 100%;
  height: 800px;
  background-size: 100% 800px;
    background-repeat:no-repeat;
}

.background_news_flood{
  position:absolute;
  background-image: url("../image/homepage/water_cover.jpg");
  margin-top: 2478px;
  width: 100%;
  height: 800px;
  background-size: 100% 800px;
    background-repeat:no-repeat;
}
.background_news_wind{
  position:absolute;
  background-image: url("../image/homepage/wind_cover.jpg");
  margin-top: 3277px;
  width: 100%;
  height: 800px;
  background-size: 100% 800px;
    background-repeat:no-repeat;
}


@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.wind_human:hover ~ .wind_human_logo, .fire_human:hover ~ .fire_human_logo, .water_human:hover ~ .water_human_logo, .earth_human:hover ~ .earth_human_logo,
.wind_human:focus ~ .wind_human_logo, .fire_human:focus ~ .fire_human_logo, .water_human:focus ~ .water_human_logo, .earth_human:focus ~ .earth_human_logo {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
